<h1><%= @paper.title %></h1>
<p class="abstract" id="abstract"><%= @paper.abstract %></p>
<% if @paper.doi %>
  <p><%= link_to @paper.doi, "http://sci-hub.tw/#{@paper.doi}", target: "_blank" %></p>
<% end %>